@using Model
@using Services
@model Model.MongoDb.Team

@{
	ViewData["Title"] = "Create";
}
<br />
<h1>Cadastro de Time</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="NameTeam" class="control-label"></label><br /><br />
				<input asp-for="NameTeam" class="form-control  border border-secondary" placeholder="Nome do Time..." />
				<span asp-validation-for="NameTeam" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				</> <label asp-for="City" class="control-label"></label><br /><br />
				<select asp-for="City" id="City">
					@foreach (City city in await SeachApi.GetAllCityInApi())
					{
						<option value="@city.NameCity"> @city.NameCity </option>
					}
				</select>
				<hr />
			</div>
			<div class="form-group">
				<label asp-for="Persons" class="control-label">Pessoas Disponíveis:</label><br />
				@foreach (var person in await SeachApi.GetAllPersonStatusTrue())
				{
					<input name="checkPeopleTeam" type="checkbox" value=@person.Id>

					<label for="@person.Name"> @person.Name</label>
					<br />
				}
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Salvar" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
<hr />
<div>
	<a asp-action="Index" class="btn btn-outline-secondary">Retornar</a>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
