@model Model.MongoDb.Team

@{
	ViewData["Title"] = "Delete";
}

<br />
<h1 class="text-center">Excluir</h1>

<div>
	<h4 class="text-center">Tem Certeza que deseja exluir @Model.NameTeam?</h4>
	<br />
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.NameTeam)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NameTeam)
		</dd>
		<dt class="col-sm-2">
			Cidade
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.City.NameCity)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Delete" class="btn btn-danger" /><br /><hr />
		<a asp-action="Index" class="btn btn-outline-secondary">Retornar</a>
	</form>
</div>
