@model Model.MongoDb.Team

@{
	ViewData["Title"] = "Details";
}

<br />
<h1>Detalhes @Model.NameTeam</h1>

<div>
	<h4>Informações</h4>
	<hr />
	<br />
	<dl class="row">
		<dt class="col-sm-2">
			Time
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NameTeam)
		</dd>
		<dt class="col-sm-2">
			Cidade
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.City.NameCity)
		</dd>
	</dl>
</div>
<hr />
<div>
	<a asp-action="Index" class="btn btn-outline-secondary">Retornar</a>
</div>
