@using Model
@using Services
@model Model.MongoDb.Team

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameTeam" class="control-label"></label>
                <input asp-for="NameTeam" class="form-control" />
                <span asp-validation-for="NameTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
		    </> <label asp-for="City" class="control-label"></label><br />
            <select asp-for="City" id="City">
            @foreach(City city in await SeachApi.GetAllCityInApi())
            {
                <option value="@city.NameCity"> @city.NameCity </option>
            }
            </select>				
           </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
