@using Model.MongoDb
@using Services
@model Model.MongoDb.Person

@{
    ViewData["Title"] = "Create";
}
<br />
<h1>Cadastrar Pessoa</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label><br /><br />
                <input asp-for="Name" class="form-control border border-secondary" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a asp-action="Index" class="btn btn-outline-secondary" >Retornar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
