@model Model.MongoDb.Person

@{
	ViewData["Title"] = "Delete";
}

<br />
<h1 class="text-center">Excluir</h1>

<div>
	<h4 class="text-center">Tem Certeza que deseja exluir @Model.Name?</h4>
	<br />
	<hr />

	<dl class="row">
		<dt class="col-sm-2">
			Nome Completo
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			Status
		</dt>
		<dd class="col-sm-10">
			@if (@Model.Active == true)
			{
				<p>Disponível</p>

			}
			else
			{
				<p>Ocupado</p>
			}
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		@if (@Model.Active == true)
		{
			<input type="submit" value="Delete" class="btn btn-danger" name="BtnDelete" id="BtnDelete" />

			<br />

			<hr />
		}
		else
		{
			<input type="submit" value="Delete" class="btn btn-danger" name="BtnDelete" id="BtnDelete" disabled/>
			<p>Pessoa se encontra em um Time</p>

			<hr />
		}
		<a asp-action="Index" class="btn btn-outline-secondary">Retornar</a>
	</form>
</div>

<script src="sweetalert2.min.js">

</script>




