@model Model.City

@{
    ViewData["Title"] = "Edit";
}
<br />
<br />
<h1>Editando Cidade @Model.NameCity</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label>Cidade</label><br /><br />
                <input asp-for="NameCity" class="form-control border border-secondary" />
                <span asp-validation-for="NameCity" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label>Estado</label><br /><br />
                <input asp-for="State" class="form-control border border-secondary" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<hr />
<div>
     <a asp-action="Index" class="btn btn-outline-secondary">Retornar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
