@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Upload</h1>
        <div class="form-group">
      <label for="formFile" class="form-label mt-4">Escolha o Arquivo .xlsx</label>
      <input class="form-control" type="file" id="formFile">
    </div>
    <hr />

    <button type="button" class="btn btn-dark">Enviar</button>

</div>
