@{
	ViewData["Title"] = "Home Page";

		string[] @servicos = new string[]{
						"INSTALAÇÃO",
						"MUDANÇA DE ENDEREÇO",
						"MUDANÇA DE LOCAL",
						"REFAZER MANUTENÇÃO",
						"REINSTALAÇÃO",
						"RETORNO CREDENCIADA",
						"SEM SINAL",
						"TROCA DE TERMINAL",
						"MANUTENÇÃO",
						"VISITA TECNICA"};
}

<h2>UploadFile</h2>
@using (Html.BeginForm("TeamOperationCity", "route", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<div>
		<div class="form-group">
			<label class="control-label">Serviços</label> <br /> <br />
			<select asp-items="@(new SelectList(servicos, @servicos))" class="form-control" name="serviceName" id="serviceName">
				<option value="default">SERVIÇOS...</option>
			</select>
		</div>
		@Html.TextBox("file", "", new {  type= "file"}) <br />
		<input type="submit" value="Upload" class="btn btn-dark" />
		@ViewBag.Message
	</div>
}

<div class="text-center">
	<h1 class="display-4">Upload</h1>
	<form method="post" enctype="multipart/form-data" asp-controller="Route" asp-action="Index">
		<div class="form-group">
			<label for="formFile" class="form-label mt-4">Escolha o Arquivo .xlsx</label>
			<input class="form-control" type="file" id="formFile" multiple />
		</div>
		<hr />
		<button type="submit" class="btn btn-dark">Enviar</button>
	</form>
</div>
