@using Model
@using Model.MongoDb
@using Services
@{
	ViewData["Title"] = "Index";

}

<h1>Oi</h1>

<script type="text/javascript">

	getService = () => {
		var serviceSelected = document.querySelector('#service').value;

	}

</script>