@{
	ViewData["Title"] = "SelectHeader";
}
<br />
<h1>Geração de documento</h1>

<div class="row">
	<div class="col-md-4">
		<form asp-action="">
			<div class="form-group">
				<label class="control-label">Times</label> <br /><br />
				<select asp-items="@(new SelectList(ViewBag.TeamsAvailable,"Id", "NameTeam"))" class="form-control" name="cityName" id="cityName">
					<option value="default">Times...</option>
				</select>
			</div>
			<div class="form-group">
				@foreach (var person in ViewBag.retornoReadFile)
				{
					<input name="checkPeopleRemoveTeam" type="checkbox" value=@person>

					<label for="@person"> @person</label>

					<br />
				}
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Confirmar" class="btn btn-outline-secondary" id="btnNext" />
			</div>
		</form>
	</div>
</div>

