@using Model
@using Model.MongoDb
@using Services
@{
	ViewData["Title"] = "Index";

	string[] @servicos = new string[]{
						"INSTALAÇÃO",
						"MUDANÇA DE ENDEREÇO",
						"MUDANÇA DE LOCAL",
						"REFAZER MANUTENÇÃO",
						"REINSTALAÇÃO",
						"RETORNO CREDENCIADA",
						"SEM SINAL",
						"TROCA DE TERMINAL",
						"VISITA TECNICA"};
}

<br />
<h1 class="text-center">Criação de Rotas</h1>

<div class="row">
	<div class="col-md-4">
		<form asp-action="TeamOperationCity">
			<div class="form-group">
				<label class="control-label">Serviços</label> <br />
				<select asp-items="@(new SelectList(servicos, @servicos))" class="form-control" name="serviceName" id="serviceName">
					<option value="default">SERVIÇOS...</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">Cidades</label> <br />
				<select asp-items="@(new SelectList(ViewBag.AllCity,"Id", "NameCity"))" class="form-control" name="cityName" id="cityName">
					<option value="default">SERVIÇOS...</option>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Confirmar" class="btn btn-outline-secondary" id="btnNext" />
			</div>
		</form>
	</div>
</div>