@using Model
@using Model.MongoDb
@using Services
@{
	ViewData["Title"] = "Index";

}

<br />
<h1 class="text-center">Criação de Rotas</h1>
<br />
<div class="row">
	<div class="col-md-4">
		<form asp-action="SelectHeader">
			<br />
			<div class="form-group">
				<label class="control-label">Cidades</label> <br /><br />
				<select asp-items="@(new SelectList(ViewBag.AllCity,"Id", "NameCity"))" class="form-control" name="cityName" id="cityName">
					<option value="default">CIDADES...</option>
				</select>
			</div>
			<br />
			<div class="form-group">
				<label class="control-label">Serviços</label> <br /><br />
				<select asp-items="@(new SelectList(ViewBag.AllService))" class="form-control" name="serviceName" id="serviceName">
					<option value="default">SERVIÇOS...</option>
				</select>
			</div>
			<br />
			<hr />
			<div class="form-group">
				<input type="submit" value="Confirmar" class="btn btn-outline-secondary" id="btnNext" />
			</div>
		</form>
	</div>
</div>