@model MVCRouteSystem.Models.Person

@{
    ViewData["Title"] = "Cadastro";
}

<h1>Cadastrar Nova Pessoa</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NamePerson" class="control-label">Nome Pessoa:</label>
                <input asp-for="NamePerson" class="form-control" />
                <span asp-validation-for="NamePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><input type="button" value="Retornar" class="btn btn-outline-dark"></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
